
#me {
  max-width:150px;
}

body {
  background: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRCA8hNkCfOoxe7ct0eOGrq_1NIVO8ZuzdIDuFZFtFgpbdVnvaWTg');
  background-size: contain
}

header {
  text-align: center;
}

#myPage {
  font-size: 60px;
  color: white;
}
ul {
  text-align: center;
  position: relative;
  display: inline-block;

  margin: 10px;
  padding: 30px;
  border-radius: 200px;
  background-color: gray;




}

li {
 // text-align: left;
}

span {
  padding: 10px 15px;

  background-color: red;
}

/*.work {
  padding: 30px 40px 30px 40px;
  margin-bottom: 20px;
}
#work-header {
  padding-bottom: 37px;
}*/

#work1, #work2, #work3, #work4, #work5, #work6, #work7, #work8, #contact1, #contact2, #contact3{

  color: gray;
}



.rating {
  margin: 50px;
  //background-color: red;
}

span:hover {
  background-color: #1E633C
}
